<?xml version="1.0" ?>
<config>
	<modules>
		<Di_Product>
			<version>1.0.0</version>
		</Di_Product>
	</modules>
	<admin>
		<routers>
			<product>
				<use>admin</use>
				<args>
					<module>Di_Product</module>
					<frontName>product</frontName>
				</args>
			</product>
			<!-- OverWrite Controller -->
			<!-- <adminhtml>
				<args>
					<modules>
						<Di_Product before="Mage_Adminhtml">Di_Product</Di_Product>
					</modules>
				</args>
			</adminhtml> -->
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<product module='product'>
				<title>Product</title>
				<sort_order> 40 </sort_order>
				<children>
					<items module='product'>
						<title> Product grid </title>
						<sort_order> 40 </sort_order>
						<action>product/adminhtml_product/index</action>
					</items>
				</children>
			</product>
		</menu>
		<layout>
			<updates>
				<product>
					<file>product.xml</file>
				</product>
			</updates>
		</layout>
	</adminhtml>
	<global>
		<events>
            <catalog_product_save_before>
                <observers>
                    <product_observer> <!-- it can be anything and must be unique -->
                        <class>product/observer</class>
                        <method>callMe</method>
                    </product_observer>
                </observers>
            </catalog_product_save_before> 
            <product_redirect_before>
                <observers>
                    <product_redirect_observer> <!-- it can be anything and must be unique -->
                        <class>product/observer</class>
                        <method>beforeRedirect</method>
                    </product_redirect_observer>
                </observers>
            </product_redirect_before>
        </events>
		<helpers>
			<product>
				<class>Di_Product_Helper</class>
			</product>
			<!-- Overwrite Helper -->
			<!-- <adminhtml>
				<rewrite>
					<catalog_product>
						<data>Di_Product_Helper_Catalog_Data</data>
					</catalog_product>
				</rewrite>
			</adminhtml> -->
		</helpers>
		<blocks>
			<product>
				<class>Di_Product_Block</class>
			</product>
			<!-- Overwrite Block -->
			<!-- <adminhtml>
				<rewrite>
					<catalog_product_grid>Di_Product_Block_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
			</adminhtml> -->
		</blocks>
		<models>
			<product>
				<class>Di_Product_Model</class>
				<resourceModel>product_resource</resourceModel>
			</product>
			<catalog>  <!-- which module want ot overwrite -->
				<rewrite>
					<product>Di_Product_Model_Catalog_Product</product>  <!-- <product> name of file -->
				</rewrite>
			</catalog>
			<product_resource>
				<class>Di_product_Model_Resource</class>
				<deprecatedNode>product_mysql4</deprecatedNode>
				<entities>
					<product>
						<table>product</table>
					</product>
				</entities>
			</product_resource>
		</models>
		<resources>
			<product_setup>
				<setup>
					<module>Di_Product</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</product_setup>
			<product_write>
				<connection>
					<use>core_write</use>
				</connection>
			</product_write>
			<product_read>
				<connection>
					<use>core_read</use>
				</connection>
			</product_read>
		</resources>
	</global>
</config>